on:
  push:
    branches:
      - master
  pull_request:

name: CI

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: taiki-e/install-action@cargo-hack@v0.5
      - name: run cargo check on all feature combinations
        run: cargo hack check --feature-powerset --no-dev-deps

  test:
    name: Test Suite
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: run cargo test
        run: cargo test --features utilities

  armv7-test:
    name: ARMv7 Test Suite
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: install armv7 target
        run: rustup target add armv7-unknown-linux-musleabihf
      - uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: test
          args: --release --target armv7-unknown-linux-musleabihf tests::kdbx4_entry --features utilities

  formatting:
    name: Code Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: running rustfmt
        run: |
          files=$(find . -name '*.rs')
          IFS=$'\n'; for file in $files; do
            rustfmt --check "$file"
          done
